.pytest_cache
*.pyc
__pycache__
.pytest_cache
.coverage
output*.txt
.env
test_reports
test_reports/*
test_report_files.zip
test_reports/TestResults___main__.*.html
test_reports/test_results.xml
xkcd
xkcd/*.png